*{
    margin: 0;
}

body{
    /* background-color: #E0E1E1; */
    height: 5000px;
    /* color: white; */
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.btn-success{
  background-color: gray;
  color: white;
}
.test
{
  height: 300px;
  width: 400px;
  padding: 10px;
  border: 2px dashed #555;
  background-color: #eee;
}